.bg-dark {
    background-color: rgb(56, 56, 56);
}

.color-bg-dark {
    color: white;
}

.fz-bg-dark {
    font-size: 18px;
}

.custom-image {
    padding: 10px;
    width: calc( 100% - 20px);
    border-radius: 20px;
}

.custom-button-bg-dark {
 color: white;
}

.custom-button-bg-dark button, .custom-button-bg-dark div {
    border-color: white;
    color: white
}

.shopping-cart {
    position: fixed;
    right: 0;
    top: 0;
}



